<footer
    [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
    [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
    class="footer-area text-center bg-white border-top-radius"
    [class.card-borderd]="themeService.isCardBordered()"
>
    <p>
        <span>© 2024 
            <a href="https://khontamweb.com" 
               target="_blank" 
               rel="noopener noreferrer"
               class="footer-link">
                Khontamweb.com
            </a>
        </span>
    </p>
</footer>
